<!DOCTYPE html>
<html>
	<head>
		<% include partial/css %>
	    
	</head>
	<body>
	
		<!-- THE HEADER -->
		<% include partial/header %>
			
		<!-- MAIN CONTENT -->
		<div id="content-block">
			
			<div class="head-bg">
				<div class="head-bg-img"></div>
				<div class="head-bg-content">
					<h1>IDEIAS</h1>
					<p>Projeto modular</p>
					<% if(!session) { %>
						<a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>Cadastre-se</a>
					<% } %>
				</div>	
			</div>
				
			<div class="container-fluid custom-container">
				<div class="row">
					
					<div class="col-md-2 left-feild">
						<div class="be-vidget">
							<h3 class="letf-menu-article">
								Temas Populares
							</h3>
							<div class="creative_filds_block">
								<div class="ul">
									<a data-filter=".category-1" class="filter" href="/post/tags/jbs">JBS		</a>
									<a data-filter=".category-2" class="filter" href="/post/tags/temer">Temer			</a>
									<a data-filter=".category-3" class="filter" href="/post/tags/lavajato">Lava Jato	</a>
									<a data-filter=".category-4" class="filter" href="/post/tags/dolar">Dolar		</a>
									<a data-filter=".category-5" class="filter" href="/post/tags/carnefraca">Carne Fraca		</a>
								</div>
							</div>
						</div>
						<div class="be-vidget">
							<h3 class="letf-menu-article">
								Tags Populares
							</h3>
							<div class="tags_block clearfix">
								<ul>
									<li><a data-filter=".category-6" class="filter" href="/post/tags/temer">temer</a></li>
									<li><a data-filter=".category-1" class="filter" href="/post/tags/jbs">jbs</a></li>
									<li><a data-filter=".category-2" class="filter">art</a></li>
									<li><a data-filter=".category-3" class="filter">website</a></li>
									<li><a data-filter=".category-4" class="filter">logo</a></li>
									<li><a data-filter=".category-5" class="filter">identity</a></li>
									<li><a data-filter=".category-6" class="filter">logo design</a></li>
									<li><a data-filter=".category-1" class="filter">interactive</a></li>
									<li><a data-filter=".category-2" class="filter">blue</a></li>
									<li><a data-filter=".category-3" class="filter">branding</a></li>
								</ul>
							</div>
						</div>
						<div class="be-vidget" style="display:none;">
							<h3 class="letf-menu-article">
								Filter By
							</h3>
							<div class="filter-block">
								<ul>
									<li><a><i class="fa fa-graduation-cap"></i>Schools</a>
										<div class="be-popup">
											<h3 class="letf-menu-article">
												Enter School
											</h3>
												<form action="./" class="input-search">
													<input class="filters-input" type="text" required="" placeholder="Start typing to see list">
												</form>
											<i class="fa fa-times"></i>
										</div>
									</li>
									<li><a><i class="fa fa-wrench"></i>Tools Used</a>
										<div class="be-popup">
											<h3 class="letf-menu-article">
												Tools
											</h3>
												<form action="./" class="input-search">
													<input class="filters-input" type="text" required="" placeholder="Start typing to see list">
												</form>
											<i class="fa fa-times"></i>
										</div>
									</li>
									<li><a><i class="fa fa-camera-retro"></i>Visit Gallery</a>
										<div class="be-popup">
											<h3 class="letf-menu-article">
												Galerry
											</h3>
												<form action="./" class="input-search">
													<input class="filters-input" type="text" required="" placeholder="Start typing to see list">
												</form>
											<i class="fa fa-times"></i>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-10">
						<div id="container-mix" class="row _post-container_">
							<% data.forEach(function(post) { %>
								<div class="category-1 mix custom-column-5">
									<div class="be-post">
										<% if(post.videoThumb) { %>
											<iframe style="position: relative; height: 100%; width: 100%;" src="<%= post.videoThumb %>" frameborder="0" allowfullscreen></iframe>
										<% } else { %>
											<a href="/post/<%= post.url %>" class="be-img-block">
												<img style="height: 215px;width: 100%;" src="/post/image/<%= post._id %>" alt="omg">
											</a>
										<% } %>
										<a href="/post/<%= post.url %>" class="be-post-title"><%= post.title %></a>
										<span>
											<%= post.description %>
										</span>
										<div class="author-post">
											<img src="/user/image/<%= post.user._id %>" alt="" class="ava-author">
											<span>Por <a href="/user/<%= post.user._id %>"><%= post.user.name %></a></span>
										</div>
										<div class="info-block">
											<span><i class="fa fa-thumbs-o-up" onclick="likePost('<%= post._id %>');"></i> <label data-info="count" data-post="<%= post._id %>"><%= post.likes.length %></label></span>
											<span><i class="fa fa-eye"></i> <%= post.views %></span>
											<span><i class="fa fa-comment-o"></i> <%= post.comments.length %></span>
										</div>
									</div>
								</div>
						    <% }); %>
						</div>		
					</div>

				</div>
			</div>
		</div>
		<!-- THE FOOTER -->
		<% include partial/footer %>
		
	</body>
</html>