<!DOCTYPE html>
<html>
	<head>
		<% include partial/css %>
	</head>
	<body>
		<!-- THE HEADER -->
		<% include partial/header %>


		<!-- MAIN CONTENT -->
		<div id="content-block">
			<div class="container be-detail-container">
				<div class="row">
					<div class="col-xs-12 col-md-4 left-feild">
						<div class="be-user-block style-3">
							<div class="be-user-detail">
								<a class="be-ava-user style-2" href="page1.html">
									<img src="/user/image/<%= user._id %>" alt=""> 
								</a>
								
								<p class="be-use-name"><%= user.name %></p>
								
								<div class="be-user-social">			
									<% if(user.facebook) { %>				
										<a class="social-btn color-1" target="_blank" href="<%= user.facebook %>"><i class="fa fa-facebook"></i></a>
									<% } %>
									<% if(user.twitter) { %>	
										<a class="social-btn color-2" target="_blank" href="<%= user.twitter %>"><i class="fa fa-twitter"></i></a>
									<% } %>
									<% if(user.google) { %>	
										<a class="social-btn color-3" target="_blank" href="<%= user.google %>"><i class="fa fa-google-plus"></i></a>
									<% } %>
									<% if(user.pinterest) { %>	
										<a class="social-btn color-4" target="_blank" href="<%= user.pinterest %>"><i class="fa fa-pinterest-p"></i></a>
									<% } %>
									<% if(user.instagram) { %>	
										<a class="social-btn color-5" target="_blank" href="<%= user.instagram %>"><i class="fa fa-instagram"></i></a>
									<% } %>
									<% if(user.linkedin) { %>	
										<a class="social-btn color-6" target="_blank" href="<%= user.linkedin %>"><i class="fa fa-linkedin"></i></a>
									<% } %>
								</div>
								<a class="be-user-site" href="http://www.phoenix.cool"><i class="fa fa-link"></i> <%= user.email %></a>
							</div>
							<div class="be-user-statistic">
								<div class="stat-row clearfix"><i class="stat-icon icon-views-b"></i> Visualizações<span class="stat-counter"><%= user.views.length %></span></div>
								<div class="stat-row clearfix"><i class="stat-icon icon-followers-b"></i>Seguidores<span class="stat-counter" id="countFollowers"><%= user.followers.length %></span></div>
								<div class="stat-row clearfix"><i class="stat-icon icon-following-b"></i>Seguindo<span class="stat-counter">0</span></div>
							</div>
						</div>
						<div class="be-desc-block">
							<div class="be-desc-author">
								<div class="be-desc-label">Sobre</div>
								<div class="clearfix"></div>
								<div class="be-desc-text">
									<%= user.description %>
								</div>
							</div>
						</div>										
					</div>
					<div class="col-xs-12 col-md-8">
	                    <div class="tab-wrapper style-1">
	                        <div class="tab-nav-wrapper">
	                            <div class="nav-tab  clearfix">
	                                <div class="nav-tab-item active">
	                                    <span>Artigos Criados</span>
	                                </div>                                                           
	                                <div class="nav-tab-item">
	                                    <span>Artigos Curtidos</span>
	                                </div>
	                                <div class="nav-tab-item">
	                                    <span>Seguidores</span>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="tabs-content clearfix">
	                            <div class="tab-info active"> 
									<div class="row">
										<% posts.forEach(function(post) { %>
											<div class="col-ml-12 col-xs-6 col-sm-6">
												<div class="be-post">
													<% if(post.videoThumb) { %>
														<iframe style="position: relative; height: 100%; width: 100%;" src="<%= post.videoThumb %>" frameborder="0" allowfullscreen></iframe>
													<% } else { %>
														<a href="/post/<%= post.url %>" class="be-img-block">
															<img style="height: 215px;width: 100%;" src="/post/image/<%= post._id %>" alt="omg">
														</a>
													<% } %>
													<a href="/post/<%= post.url %>" class="be-post-title"><%= post.title %></a>
													<span>
														<%= post.description %>
													</span>
													<div class="author-post">
														<img src="/user/image/<%= post.user._id %>" alt="" class="ava-author">
														<span>Por <a href="/user/<%= post.user._id %>"><%= post.user.name %></a></span>
													</div>
													<div class="info-block">
														<span><i class="fa fa-thumbs-o-up" onclick="likePost('<%= post._id %>');"></i> <label data-info="count" data-post="<%= post._id %>"><%= post.likes.length %></label></span>
														<span><i class="fa fa-eye"></i> <%= post.views %></span>
														<span><i class="fa fa-comment-o"></i> <%= post.comments.length %></span>
													</div>
												</div>									
											</div>
										<% }); %>
									</div>
	                            </div>       
	                            <div class="tab-info">
									<div class="row">
										<% likes.forEach(function(like) { %>
											<div class="col-ml-12 col-xs-6 col-sm-4">
												<div class="be-post">
													<% if(like.post.videoThumb) { %>
														<iframe style="position: relative; height: 100%; width: 100%;" src="<%= like.post.videoThumb %>" frameborder="0" allowfullscreen></iframe>
													<% } else { %>
														<a href="/post/<%= like.post.url %>" class="be-img-block">
															<img style="position: relative; height: 215px;width: 215px;" src="/post/image/<%= like.post._id %>" alt="omg">
														</a>
													<% } %>
													<a href="/post/<%= like.post.url %>" class="be-post-title"><%= like.post.title %></a>
													<span>
														<%= like.post.description %>
													</span>
													<div class="author-post">
														<img src="/user/image/<%= like.post.user._id %>" alt="" class="ava-author">
														<span>Por <a href="/user/<%= like.post.user._id %>"><%= like.post.user.name %></a></span>
													</div>
													<div class="info-block">
														<span><i class="fa fa-thumbs-o-up" onclick="likePost('<%= like.post._id %>');"></i> <label data-info="count" data-post="<%= like.post._id %>"><%= like.post.likes.length %></label></span>
														<span><i class="fa fa-eye"></i> <%= like.post.views %></span>
														<span><i class="fa fa-comment-o"></i> <%= like.post.comments.length %></span>
													</div>
												</div>									
											</div>
										<% }); %>
									</div>
	                            </div>  
	                            <div class="tab-info">
									<div class="row">
										<div class="col-md-10 col-md-push-2">
											<div id="container-mix" class="be-user-wrapper row">
												<% followers.forEach(function(follow) { %>
													<div class="mix category-4 custom-column-5">
														<div class="be-user-block style-2">
															<a class="be-ava-user style-2" href="/user/<%= follow.user._id %>">
																<img src="/user/image/<%= follow.user._id %>" alt=""> 
															</a>
															<div class="be-user-counter">
																<div class="c_number">0</div>
																<div class="c_text">Artigos</div>
															</div>
															<a href="/user/<%= follow.user._id %>" class="be-use-name"><%= follow.user.name %></a>
															<div class="be-text-tags">							
																<%= follow.user.description %>
															</div>
															<div class="info-block">
																<span><i class="fa fa-thumbs-o-up"></i> 360</span>
																<span><i class="fa fa-eye"></i> <%= follow.user.views.length %></span>
															</div>
															<a class="btn color-1 size-2 hover-1">Follow</a>
															<a class="portfolio-link type-1 clearfix" href="blog-detail-2.html">
																<img src="img\g1.jpg" alt="">
																<img src="img\g2.jpg" alt="">
																<img src="img\g3.jpg" alt="">
																<div class="color_bg">
																	<span>view portfolio</span>
																	<span class="child"></span>
																</div>
															</a>
														</div>
													</div>
												<% }) %>
											</div>
										</div>
									</div>
	                            </div>                 
	                        </div>
	                    </div> 				
					</div>				
				</div>
			</div>
		</div>

		<% include partial/footer %>
		<script>
			function follow(userFollow){
				var obj = {
		            userFollow: userFollow
		        }

		        ajax.send({
		            url: "/api/user/follow",
		            data: JSON.stringify(obj),
		            method: "POST",
		            beforeSend: function () {

		            },
		            success: function (response) {
		            	if(!response) return;

		                var html = '<a class="be-ava-left btn color-1 size-2 hover-1" onclick="unfollow(\'' + userFollow +'\');">' +
										'<i class="fa fa-minus"></i>Seguindo' +
									'</a>';
									
						$("#divFollow").html(html);		
						$("#countFollowers").html(response.followers.length);

		            },
		            complete: function () {

		            },
		            error: function (error) {
		            	if(error.status === 401){
		            		alert('Você precisa estar logado para seguir um membro');	
		            	}	
		            }
		        });

		        return false;
			}

			function unfollow(userFollow){
				var obj = {
		            userFollow: userFollow
		        }

		        ajax.send({
		            url: "/api/user/unfollow",
		            data: JSON.stringify(obj),
		            method: "POST",
		            beforeSend: function () {

		            },
		            success: function (response) {
		            	if(!response) return;

		                var html = '<a class="be-ava-left btn color-1 size-2 hover-1" onclick="follow(\'' + userFollow +'\');">' +
										'<i class="fa fa-plus"></i>Seguir' +
									'</a>';

						$("#countFollowers").html(response.followers.length);
						$("#divFollow").html(html);
		            },
		            complete: function () {

		            },
		            error: function (error) {
		            	if(error.status === 401){
		            		alert('Você precisa estar logado para seguir um membro');	
		            	}	
		            }
		        });

		        return false;
			}
		</script>
	</body>
</html>